<!-- Username : <input type="text" name="username" [(ngModel)] = "username">
Password : <input type="password" name="password" [(ngModel)] = "password">

<button class="btn btn-success" (click)="handleLogin()">Login</button> <br> -->

<form>
    <div class="form-group">
      <label for="user">Username</label>
      <input type="text" class="form-control" id="user" name="username" [(ngModel)] = "username">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" [(ngModel)] = "password">
      </div>
    <!-- <button type="submit" class="btn btn-primary" (click)="handleLogin()">Login</button> -->
    <!-- <button type="submit" class="btn btn-primary" (click)="handleBasicAuthLogin()">Login</button> -->
    <button type="submit" class="btn btn-primary" (click)="handleJWTAuthLogin()">Login</button>
    
    <div class="alert alert-primary my-2" role="alert">
      Please Login using user.name= <b>user</b> and user.password= <b>dummy </b> 
      <i>(Used as hardcoded Authentication for Spring Security)</i> 
    </div>

    <div  *ngIf="invalidLogin" class="alert alert-danger  my-2" role="alert"> Login Unsuccessful </div>

    <!-- <i *ngIf="invalidLogin" class="text-danger m-4">Login Unsuccessful</i> -->
</form>